* {
	margin: 0;
	padding: 0;
}

a {
	color: #5E98A8;
	text-decoration: none;
}

body {
	background-color: #0a2028;
	color: #548b9a;
	font-family: sans-serif;
}

.container {
	display: flex;
	text-transform: uppercase;
	min-height: 100vh;
}

.sidebar-left {
	align-items: center;
	background: linear-gradient(90deg, #0a2028, #104359);
	border-right: 2px #1b4a59 solid;
	display: flex;
	font-weight: 600;
    flex-direction: column;
    justify-content: space-around;
    min-width: 50px;
	width: 4vw;
}

.sidebar-right {
	align-items: center;
	background: linear-gradient(90deg, #104359, #0a2028);
	border-left: 2px #1b4a59 solid;
	display: flex;
	font-weight: 600;
    flex-direction: column;
    justify-content: space-around;
    min-width: 50px;
	width: 4vw;
}

.content {
	padding: 50px 20px 50px 20px;
	width: 100%;
}

.content__line-1 {
	align-items: baseline;
	display: flex;
	padding: 5px 0px;
}

.line-1__title {
	display: flex;
	align-items: center;
	color: #98babd;
	font-size: 28px;
	padding-right: 10px;
	text-transform: uppercase;
	width: 40%;
}
.line-1__title span{
	padding: 0 10px;
}

.content__line-2 {
	background: linear-gradient(180deg, #0E3B4B, #11242D);
	border: 2px #1b2e3c solid;
	border-bottom: 0;
	display: flex;
	padding: 5px;
}

.line-2__menu:nth-child(1) {
	padding-right: 15px;
	width: 40%;
}
.line-2__menu:nth-child(2) {
	display: flex;
    flex-direction: column;
	width: 15%;
}

.line-2__menu:nth-child(3) {
	display: flex;
	flex-direction: column;
	width: calc(45% - 1px);
}

.line-2__signal {
	display: flex;
	font-size: 12px;
	height: 95px;
}

.line-2__signal p {
	padding-top: 5px;
}

.line-2__signal-1 {
	padding: 30px 12px;
	width: 100%;
}

.line-2__signal-1:nth-child(2) .signal-1 {
	width: 95%;
}

.signal-1 {
	display: flex;
	width: 80%;
}
.signal-1_bar-brown {
	background-color: #3D3B33;
	width: 60px;
}
.signal-1_bar-grey {
	background-color: #97BABD;
	width: 100%;
	color: #97BABD;
}

.signal-1__text {
	display: flex;
	justify-content: space-between;
}

.line-2__module {
	display: flex;
}

.module__icons {
	background: linear-gradient(180deg, #225763, #062532);
	border: 2px #1b2e3c solid;
}

.module__icons p {
	margin: 10px;
}

.icons {
	border: 2px #1b4a59 solid;
	margin: 5px;
}

.icons__text {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.module__info {
	background: linear-gradient(180deg, #0E3B4B, #11242D);
	border: 2px #1b2e3c solid;
	display: flex;
	margin: 0 10px;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-around;
    width: 100%;
}

.module__info a {
	font-size: 18px;
}

.info__line-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	line-height: 1;
	padding: 0 10px;
}
/* Don't use this as example */
.arrow {
	display: flex;
	position: relative;
}
.arrow-1 {
	border-bottom: 1px #cec9c2 solid;
    border-top: 1px #cec9c2 solid;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    height: 16px;
    width: 20px;
}
.arrow-2 {
	height: 15px;
	width: 16px;
}
.arrow-3 {
    padding: 6px;
    border: 1px solid #cec9c2;
    border-width: 1px 0 0 1px;
    position: absolute;
    border-radius: 1px;
    transform: rotate(-225deg);
    top: 2.5px;
    right: 50px;
}
.arrow-4 {
    padding: 6px;
    border: 1px solid #cec9c2;
    border-width: 1px 0 0 1px;
    position: absolute;
    border-radius: 1px;
    transform: rotate(-45deg);
    top: 2.5px;
    right: 33px;
}
.arrow-5 {
	border-bottom: 1px #cec9c2 solid;
    border-top: 1px #cec9c2 solid;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    height: 16px;
    width: 40px;
}

.info__line-2 {
	padding: 0 10px;
}

.line-2__menu-connection {
	padding: 30px 0;
}
.line-2__menu-text {
	padding-top: 45px;
}

.line-2__contact-msg {
	display: none;
	color: #E85B65;
	font-size: 7EM;
	letter-spacing: 1vw;
}

.line-2__navbar {
	align-items: flex-end;
	display: flex;
	height: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.line-2__navbar li {
	align-items: center;
	display: flex;
	list-style-type: none;	
}
.line-2__navbar li:before {
	border: 2px #517c91 solid;
    border-radius: 2px;
    margin: 0 15px;
    padding: 4px;
    content: '';
}

.gradient-line {
	background: linear-gradient(0deg, #225763, #062532);
	border-left: 2px #1b2e3c solid;
    border-right: 2px #1b2e3c solid;
	height: 15px;
}

.content__line-3 {
	display: flex;
	min-height: 500px; /* temporrary*/
	/* no solution yet to make gradient for border-top only
	border-top: 15px solid transparent;
	border-image: linear-gradient(90deg, #0a2028, #104359) 1;
	*/
}

.line-3__console {
	font-size: 12px;
	font-weight: 600;
    width: 40%;
}


.line-3__console p {
	margin: 10px 20px;
}

.line-3__console p:nth-child(1) {
    margin: 25px 20px 10px 20px;
}

.line-3__console p:nth-child(1) .console__initial {
	padding-right: 5px;
}


.console__initial {
	font-weight: 600;
	padding-right: 30px;
}

.line-3__balloon {
	align-items: center;
	background: linear-gradient(180deg, #153d49, #062532);
	border-left: 2px #1b2e3c solid;
	border-right: 2px #1b2e3c solid;
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 20%;
}

.line-3__balloon {
	position: relative;
}
.balloon__circle {	
    border: 2px #A1C0BF solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.balloon__text {
	line-height: 1;
	margin-left: 50px;
}

.balloon__balloon {
    background-color: #A1C0BF;
    background-clip: content-box;
    border: 2px #A1C0BF solid;
    height: 15px;
    padding: 10px 0;
    position: relative;
    top: -2px;
    width: 20px;
}

.balloon__balloon:after {
	background: #A1C0BF;
    content: '';
    height: 90px;
    width: 2px;
    position: absolute;
    top: 24px;
    left: 9px;
}

.balloon__gps {
    border: 2px #A1C0BF solid;
    height: 15px;
    margin-top: 75px;
    padding: 10px 0;
    width: 20px;
}

.balloon__sensors {
	align-items: center;
	background-color: #A1C0BF;
	display: flex;
	height: 65px;
	position: relative;
	width: 2px;
}

.balloon__sensors:before {
    border: 2px #A1C0BF solid;
    border-radius: 2px;
    content: '';
    height: 10px;
    left: 5px;
    position: absolute;
    top: 25px;
    width: 10px;
}

.balloon__sensors:after {
    border: 2px #A1C0BF solid;
    border-radius: 2px;
    content: '';
    height: 10px;
    left: -17px;
    position: absolute;
    top: 25px;
    width: 10px;
}

.balloon__sensors p {
	margin-left: 41px;
	position: relative;
}

.balloon__controller {
	background-color: #A1C0BF;
    background-clip: content-box;
    border: 2px #A1C0BF solid;
    height: 10px;
    padding: 5px 0 10px 0;
    position: relative;
    width: 20px;
}

.balloon__controller p {
	position: relative;
	top: -7px;
}

.balloon__fat-arrow {
	background: #A1C0BF;
	content: '';
	height: 10px;
    width: 5px;
}

.balloon__device {
    background-color: #A1C0BF;
    content: '';
    height: 65px;
    width: 1px;
    width: 2px;
    background-clip: content-box;
    border-top: 15px #A1C0BF solid;
    padding: 0px 10px 0px 10px;
}

.balloon__device p {
	margin-left: 41px;
	position: relative;
	top: -15px;
}


.line-3__status {
	color: #98babd;
	display: grid;
	flex-grow: 1;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	padding: 25px;
	width: 30%;
}



.status__title {
	background-color: #22365A;
	font-size: 18px;
	height: 18px;
	margin: 0 2px;
	padding: 2px 0px 0px 5px;
	position: relative;
}

.status__title:after {
    content: '';
    position: absolute;
    border-bottom: 20px #22365A solid;
    border-right: 25px #0a2028 solid;
    right: 0;
    top: 0;
}

.status__value {
	border: 2px #2E4160 solid;
	border-top-right-radius: 3px;
	font-size: 46px;
	padding: 15px 10px 10px 20px;
}

.status__altitude div{
	align-items: baseline;
	display: flex;
    justify-content: space-between;
}

.status__atmpressure {
	grid-column: auto / span 2;
}

.content__line-4 {
	background: linear-gradient(180deg, #0E3B4B, #11242D);	
	border: 2px #1b2e3c solid;
    border-top: 0;
	display: flex;
	padding: 20px 30px;
}

.line-4__balloon-device {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	width: 45%;
}

.line-4__configure {
	padding: 10px;
	width: 25%;
}

.line-4__ui {
	width: 30%;
}


.balloon-device {
	display: flex;
	flex-grow: 1;
	font-size: 14px;
	padding: 10px;
	position: relative;
}

.balloon-device__text {
	background-color: #233658;
	margin-right: 11px;
	padding: 15px 40px 2px 8px;
	position: relative;
	width: 100px;
}

.balloon-device__text:after {
	background: #0E3B4B;
    border-top: 5px #233658 solid;
    border-right: 10px #233658 solid;
    border-left: 8px #233658 solid;
    border-bottom: 8px #233658 solid;
    content: '';
    padding: 5px;
    position: absolute;
    right: -11px;
    top: 0;
}

.balloon-device__smallbox {
	display: flex;
    margin-left: 15px;
}

.smallbox__doublebox {
	border-top: 8px #233658 solid;
    border-bottom: 8px #233658 solid;
	height: 6px;
    margin: 0 5px 5px 0;
    width: 8px;
}

.configure__inner {
	display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-between;
}

.configure__inner div {
    width: 100%;
}

.configure__button {
	background: #233658;
	margin: 0 40px;
	position: relative;
	text-align: center;
}

.configure__button:after {
	content: '';
	position: absolute;
	border-bottom: 20px #22365A solid;
    border-right: 40px transparent solid;
    right: -40px;
    top: 0;
}

.configure__button:before {
	content: '';
	position: absolute;
	border-bottom: 20px #22365A solid;
    border-left: 40px transparent solid;
    left: -40px;
    top: 0;
}

.configure__button p {
	height: 20px;
}

.configure__progressbar {
	display: flex;
	justify-content: space-between;
}

.progressbar__status {
	background-color: #3D3B33;
	margin-right: 5px;
	padding: 0px 5px;
	position: relative;
}

.progressbar__status:after {
    content: '';
    position: absolute;
    border-top: 18px #3D3B33 solid;
    border-right: 5px transparent solid;
    right: -5px;
    top: 0;
}

.progressbar_bar {
	background-color: #233658;
	height: auto;
    transform: skew(-15deg);
    width: 12px;
}

.ui__tumbler p.white-text:nth-child(2) {
	color: #7F8D8F;
}

.progress {
    width: 160px;
    height: 100px;
    background: #8734f7;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}

.ui__inner {
	display: flex;
	justify-content: space-between;
    padding: 7px 0 7px 10%;
}

.ui__control {
	align-items: center;
	background: #203945;
	display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
    padding: 5px;
}

.ui__title {
	text-align: center;
}

.ui__mouse {
	border-top: 20px #49A3CD solid;
    background: #1D6C85;
    border-radius: 25px;
    margin: 0 15px;
    height: 30px;
    width: 25px;
    transform: rotate(-45deg);
}


/* welcome window */

.welcome__window {
	background: linear-gradient(180deg, #0E3B4B, #11242D);
    border: 2px #1b2e3c solid;
    border-radius: 5px;
	height: 200px;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.window__close, .window__close2 {
	color: #cec9c2;
	top: 0;
	right: 0;
	margin: 5px 10px;
	position: absolute;
}

.window__close:hover, .window__close2:hover {
	color: white;
}


.window__inner {
	border: 2px solid transparent;
	border-image: linear-gradient(#11242D , #0E3B4B);
	border-image-slice: 1;
	margin: 5px;
	padding: 10px;
}

.window__inner h2 {
	text-transform: uppercase;
}

.window__language {
	display: flex;
    justify-content: center;
}
.window__language div {
	margin: 5px;
	outline: 1px black solid;
	width: 36px;
}

.window__language div:hover {
	outline: 1px grey solid;
	cursor: pointer;
}

/* for the practice purpose, sorry for the repeating code up to modifiers */
.language__ru {
	border-top: 8px white solid;
	border-bottom: 8px red solid;
	background: blue; 
	height: 8px;
}

.language__eng {
	background: #00257d;
	height: 24px;
	overflow: hidden;
	position: relative;
}

.language__eng:before {
	background: red;
	content: '';
	top: 0;
	left: 16px;
	height: 24px;
    position: absolute;
    width: 4px;
    z-index: 100;
}

.language__eng:after {
	background: red;
	content: '';
	top: 10px;
	left: 0;
	height: 4px;
    position: absolute;
    width: 36px;
    z-index: 100;	
}

.eng__cross1 {
	position: absolute;
    display: block;
    height: 6px;
    width: 36px;
    background: white;
    top: 9px;
    z-index: 99;
}
.eng__cross2 {
	position: absolute;
    display: block;
    height: 24px;
    width: 6px;
    background: white;
    left: 15px;
    z-index: 99;
}

.eng__cross3 {
	background: white;
    top: -11px;
    left: 16px;
    height: 45px;
    position: absolute;
    width: 4px;
    transform: rotate(57deg);
}
.eng__cross4 {
	background: white;
    top: -11px;
    left: 16px;
    height: 45px;
    position: absolute;
    width: 4px;
    transform: rotate(-57deg);
}
.eng__cross5 {
    background: red;
    top: -11px;
    left: 17px;
    height: 45px;
    position: absolute;
    width: 1.5px;
    z-index: 98;
    transform: rotate(57deg);
}
.eng__cross6 {
    background: red;
    top: -11px;
    left: 17px;
    height: 45px;
    position: absolute;
    width: 1.5px;
    z-index: 98;
    transform: rotate(-57deg);
}


/* modifiers */


.capitalize {
	text-transform: initial;
}

.small-text {
	font-size: 16px;
}

.normal-text {
	font-size: 20px;
}

.white-text, .white-text li a {
	color: #cec9c2;
}

.grey-text {
	color: #858B82;
}

.text_decoration {
	border-bottom: 1px #cec9c2 solid;
	padding-bottom: 2px;
	width: fit-content;
}

.active {
	background-color: #4C67BC;
}

.balloon-device__text.active:after {
	border-top: 5px #4C67BC solid;
    border-right: 10px #4C67BC solid;
    border-left: 8px #4C67BC solid;
    border-bottom: 8px #4C67BC solid;
}

.active + .balloon-device__smallbox .smallbox__doublebox {
	border-top: 8px #4C67BC solid;
    border-bottom: 8px #4C67BC solid;
}


.balloon__circle-red {
	background: #FC5752;
}

/* Elements */
.square {
    border: 2px #517c91 solid;
    border-radius: 2px;
    padding: 7px;
}

.square-filled {
	border: 2px #49A3CD solid;
	border-radius: 2px;
	background-color: #49A3CD;
	padding: 7px;
}